# 依赖
node_modules/

# 构建产物
frontend/dist/
dist/

# 环境变量
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/dev.db
prisma/migrations/dev.db-journal
*.db
*.db-journal

# 系统文件
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# 日志
*.log
npm-debug.log*
